name: Java CI (Задание 1)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  schedule:
    - cron: "30 12 * * 3"
    - cron: "0 22 * * 5"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew    

      - name: Build and test with Gradle
        run: ./gradlew build
